@model Trainer

<div class="container">
    <form class="container" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label>FullName</label>
            <input class="form-control" asp-for="FullName" placeholder="Enter FullName">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input class="form-control" asp-for="ImgFile" placeholder="Enter Image" accept=".jpg , .png , .jpeg">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>